<div class="h-full">
    <ng-container *ngIf="(myFiles$ | async) as myFiles; else spinner">
        <fg-file-table [files]="myFiles" pageIcon="pi pi-home" pageRouterLink="/dashboard" pageName="Мої файли"></fg-file-table>
    </ng-container>

</div>

<ng-template #spinner>
    <div class="card flex items-center mt-12 justify-center">
        <p-progressSpinner
            styleClass="w-4rem h-4rem"
            strokeWidth="4"
            fill="var(--surface-ground)"
            animationDuration=".5s" />
    </div>
</ng-template>
