<div class="card flex w-full justify-content-center">
    <p-toast />
    <p-fileUpload [files]="files" chooseLabel="Вибрати файл" cancelLabel="Очистити"  class="w-full" styleClass="w-full" [showUploadButton]="false" (onSelect)="onFileSelect($event)" (onUpload)="onUpload($event)" [multiple]="true" maxFileSize="10485760">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">
                    {{ file.name }} - {{ file.size }} bytes
                </li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div>
